@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
* {
  box-sizing: border-box;
}

body {
  width: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-dark {
  background-color: #1d1d1d !important;
  border-bottom: 1px solid rgb(107, 107, 107);
}

.navbar-light .navbar-brand {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-light .navbar-brand:hover {
  color: #8d8d8d;
}

.navbar-light .navbar-nav .nav-link {
  color: #8d8d8d;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.navbar-light .navbar-toggler {
  color: #1ed760;
  border-color: #1ed760;
  background-color: #1ed760;
}

.breadcrumb {
  background-color: #1d1d1d;
  border-top: 1px solid rgb(107, 107, 107);
  border-bottom: 1px solid rgb(107, 107, 107);
}

.a {
  color: #8d8d8d;
}

.app-container {
  height: 100%;
  max-width: auto;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
}

.not-found-404 {
  margin: 16% auto;
  height: 100vh;
}

.content-container {
  height: 100%;
  max-width: 100%;
  padding: 24px;
}

.artists-profile {
  display: flex;
  flex-direction: row;
}

.artist-avatar {
  border-radius: 100%;
  margin: 1em;
}

.artist-avatar:hover {
  box-shadow: 2px 2px white;
  opacity: 0.5;
  text-decoration: underline;
  text-decoration-color: white;
}

.artist-name {
  color: white;
  font-weight: bold;
}

.artist-name:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.artist-container {
  columns: 5 auto;
  vertical-align: top;
}

.artist-link {
  text-align: center;
  text-decoration: none;

  padding-bottom: 0.5em;
}

.artist-profile-container {
  color: white;
}

.artist-profile-container a {
  color: white;
}

.artist-profile-header {
  text-align: center;
  margin-bottom: 4em;
  padding-bottom: 2em;
  border-bottom: 1px solid rgb(107, 107, 107);
}

.artist-profile-header img {
  border-radius: 100%;
  margin-bottom: 2em;
  width: 12em;
}

.artist-info {
  margin: 4em 0 4em 0;
  margin: auto;
  width: 50%;
}

.albums-container {
  margin: auto;
  width: 50%;
  padding: 1em;
}

.album {
  display: flex;
  margin: 1em 0 1em 0;
  padding: 0.5em 0 0.5em 0;
  border-top: 1px solid rgb(107, 107, 107);
  border-bottom: 1px solid rgb(107, 107, 107);
}

.album img {
  height: 3em;
  width: 3em;
  margin-right: 1em;
}

.album p {
  margin-top: 0.5em;
}

.album p:nth-child(3) {
  margin-left: auto;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #1d1d1d;
  border: 1px solid rgb(107, 107, 107);
}

.card {
  background-color: #1d1d1d;
  border: 1px solid rgb(107, 107, 107);
}

.btn-link {
  color: white;
}

.btn-link:hover {
  color: #1ed760;
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #1ed760;
  border-color: #1ed760;
  margin: 1em;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1ed760;
  border-color: #1ed760;
  opacity: 0.8;
}

.btn-light {
  color: #1ed760;
  background-color: #2c2c2c;
  border-color: #1ed760;
  margin: 1em;
}

.btn-light:hover {
  color: white;
  background-color: #1ed760;
  border-color: #1ed760;
}

.btn-success {
  color: #fff;
  background-color: #1ed760;
  border-color: #1ed760;
}

.btn-success:hover {
  color: white;
  background-color: #1ed760;
  border-color: #1ed760;
}

.button-container {
  margin: 2em;
  text-align: center;
}

.loading-spinner {
  height: 10em;
  width: 10em;
  margin: 17% 44%;
  color: #1ed760;
}

.fa-check-double {
  color: #1ed760;
}

.fa-times {
  color: red;
}

.album-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-detail-container h4 {
  color: white;
  margin-bottom: 1em;
}

.album-detail-cover {
  border-radius: 100%;
  width: 20em;
  margin: 1em;
  padding: 1em;
}

.album-detail-title {
  color: white;
  margin-bottom: 2em;
}

.album-detail-about {
  color: white;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 1em;
  width: 50%;
  padding: 1.5em;
}

/* === Responsive css === */

@media only screen and (max-width: 1200px) {
  .artist-container {
    columns: 3 auto;
  }

  .album {
    display: flex;
    flex-direction: column;
  }

  .album p {
    margin: 1em auto;
  }

  .album img {
    margin: 1em auto;
  }
}

@media only screen and (max-width: 650px) {
  .artist-container {
    columns: 2 auto;
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }

  .btn-primary,
  .btn-success,
  .btn-light {
    width: 200px;
    margin: 1em auto;
  }
}

@media only screen and (max-width: 450px) {
  .artist-container {
    columns: 1 auto;
    text-align: center;
  }

  .album p {
    font-size: 0.8em;
  }

  .album img {
    font-size: 0.8em;
  }
}
